@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-y: hidden;
    overflow: hidden;
    overflow-x: hidden;
    background-color: aliceblue;
}


.half{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1feec1 19%, #109b94 120%);
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    overflow: hidden;
    left: 0px;
}

.logo{
    position: relative;
    top: 70px;
    width: 650px;
    height: 400px;
    left: -20px;
}

.sta{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 600;
    top: 50px;
    color: #000000;
}

.monica{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    top: 50px;
    color: #000000;

    
}

.login-box{
    width: 370px;
    height: 400px;
    position: relative;
    top: 110px;
    left: 330px;
    margin: 50px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid rgb(65, 65, 63);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);

}

.signin{
    position: relative;
    top: -45px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(#1feec1 19%, #109b94 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}


.login-form .input-group{
    display: flex;
    flex-direction: column;
    width: 280px;
    position: relative;
    top: -50px;
    left: 5px;
}

.login-form .input-group input{
    margin-top: 10px;
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 6px;

}

.login-form .input-group .btn{
    position: relative;
    margin-top: 15px;
    top: 18px;
    left: 80px;
    font-size: 18px;
    width: 45%;
    height: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 6px;
    background-color: #1eb99a;
    color: white;
    cursor: pointer;

}

.input-group .btn:hover{
    background-color: #1a7e6a;
}

.dont-have-account{
    position: relative;
    top: -10px;
    text-align: center;
    color: #000000;
    left: 8px;
    
}

.dont-have-account p{
    color: #000000;
    font-size: 17px;
}


.register-btn{
    position: relative;
    top: 13px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #1eb99a;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 6px;
    padding: 8px 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    
}

.register-btn:hover{
    background-color: #1a7e6a;
}

.forgot-password{
    position: relative;
    left: 3px;
    top: -60px;
    font-size: 13px;
    color: blue;
}

.forgot-password:hover{
    color: blueviolet;
    text-decoration: underline;

}




@media(max-width:1027px) and (max-height:597px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 70px;
        width: 550px;
        height: 300px;
        left: -20px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        font-weight: 600;
        top: 70px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        top: 70px;
        
    }
    
    .login-box{
        width: 370px;
        height: 400px;
        position: relative;
        top: 70px;
        left: 260px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -45px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 280px;
        position: relative;
        top: -50px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 80px;
        font-size: 18px;
        width: 45%;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 17px;
    }
    
    
    .register-btn{
        position: relative;
        top: 13px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    
  
    
}
@media(max-width:845px) and (max-height:597px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 70px;
        width: 550px;
        height: 300px;
        left: -20px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        font-weight: 600;
        top: 70px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        top: 70px;
        
    }
    
    .login-box{
        width: 370px;
        height: 400px;
        position: relative;
        top: 70px;
        left: 210px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -45px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 280px;
        position: relative;
        top: -50px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 80px;
        font-size: 18px;
        width: 45%;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 17px;
    }
    
    
    .register-btn{
        position: relative;
        top: 13px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    
  
    
}
@media(max-width:500px) and (max-height:597px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 100vw;
        height: 25vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 5px;
        width: 200px;
        height: 350px;
        left: -155px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        top: -100px;
        left: 75px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        top: -100px;
        left: 75px;
        
    }
    
    .login-box{
        width: 370px;
        height: 400px;
        position: relative;
        top: 135px;
        left: 10px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -45px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 280px;
        position: relative;
        top: -50px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 80px;
        font-size: 18px;
        width: 45%;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 17px;
    }
    
    
    .register-btn{
        position: relative;
        top: 13px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    
  
    
}
@media(max-width:250px) and (max-height:597px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 155vw;
        height: 25vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 5px;
        width: 200px;
        height: 350px;
        left: -115px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        top: -90px;
        left: 55px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        top: -90px;
        left: 55px;
        
    }
    
    .login-box{
        width: 320px;
        height: 395px;
        position: relative;
        top: 150px;
        left: 35px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -35px;
        text-align: center;
        font-size: 45px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 220px;
        position: relative;
        top: -40px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 60px;
        font-size: 18px;
        width: 45%;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 17px;
    }
    
    
    .register-btn{
        position: relative;
        top: 13px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    
  
    
}
@media(max-width:839px) and (max-height:540px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 50vw;
        height: 110vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 70px;
        width: 550px;
        height: 300px;
        left: -20px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        font-weight: 600;
        top: 70px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        top: 70px;
        
    }
    
    .login-box{
        width: 370px;
        height: 400px;
        position: relative;
        top: 70px;
        left: 220px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -45px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 280px;
        position: relative;
        top: -50px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 80px;
        font-size: 18px;
        width: 45%;
        height: 45px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 17px;
    }
    
    
    .register-btn{
        position: relative;
        top: 13px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    
   
    
}
@media(max-width:795px) and (max-height:509px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 45vw;
        height: 110vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 70px;
        width: 500px;
        height: 250px;
        left: 0px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        top: 70px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        top: 70px;
        
    }
    
    .login-box{
        width: 300px;
        height: 375px;
        position: relative;
        top: 40px;
        left: 180px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -45px;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 210px;
        position: relative;
        top: -50px;
        left: 5px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 65px;
        font-size: 15px;
        width: 40%;
        height: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 13px;
    }
    
    
    .register-btn{
        position: relative;
        top: 20px;
        font-size: 15px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    

}
@media(max-width:535px) and (max-height:419px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 45vw;
        height: 115vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 120px;
        width: 330px;
        height: 150px;
        left: 0px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        top: 115px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        top: 110px;
        
    }
    
    .login-box{
        width: 230px;
        height: 335px;
        position: relative;
        top: 0px;
        left: 120px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -35px;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 180px;
        position: relative;
        top: -40px;
        left: -15px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 55px;
        font-size: 12px;
        width: 33%;
        height: 33px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 10px;
    }
    
    
    .register-btn{
        position: relative;
        top: 20px;
        font-size: 10px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    

}
@media(max-width:269px) and (max-height:355px) {
    .half{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#1feec1 19%, #109b94 120%);
        width: 150vw;
        height: 30vh;
        position: absolute;
        top: 0px;
        overflow: hidden;
        left: 0px;
    }
    
    .logo{
        position: relative;
        top: 5px;
        width: 180px;
        height: 100px;
        left: -130px;
    }
    
    .sta{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        top: -70px;
        left: 30px;
    }
    
    .monica{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 600;
        top: -70px;
        left: 30px;
        
    }
    
    .login-box{
        width: 230px;
        height: 335px;
        position: relative;
        top: 80px;
        left: 55px;
        margin: 50px auto;
        background: #ffffff;
        padding: 40px;
        border-radius: 10px;
        border: 3px solid rgb(65, 65, 63);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    
    }
    
    .signin{
        position: relative;
        top: -35px;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        background: linear-gradient(#1feec1 19%, #109b94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    
    
    .login-form .input-group{
        display: flex;
        flex-direction: column;
        width: 180px;
        position: relative;
        top: -40px;
        left: -15px;
    }
    
    .login-form .input-group input{
        margin-top: 10px;
        padding: 10px;
        background: transparent;
        border: 2px solid rgb(31, 30, 30);
        border-radius: 6px;
    
    }
    
    .login-form .input-group .btn{
        position: relative;
        margin-top: 15px;
        left: 55px;
        font-size: 12px;
        width: 33%;
        height: 33px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Montserrat", sans-serif;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        background-color: #1eb99a;
        color: white;
        cursor: pointer;
    
    }
    
    .input-group .btn:hover{
        background-color: #1a7e6a;
    }
    
    .dont-have-account{
        position: relative;
        top: -10px;
        text-align: center;
        color: #000000;
        left: 8px;
        
    }
    
    .dont-have-account p{
        color: #000000;
        font-size: 10px;
    }
    
    
    .register-btn{
        position: relative;
        top: 20px;
        font-size: 10px;
        font-weight: 600;
        color: white;
        background-color: #1eb99a;
        border: 2px solid rgb(34, 34, 34);
        border-radius: 6px;
        padding: 8px 25px;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
        
    }
    
    .register-btn:hover{
        background-color: #1a7e6a;
    }
    

}