@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-y: hidden;
    overflow: hidden;
    overflow-x: hidden;
}


.half-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#1feec1 19%, #109b94 120%);
    width: 150vw;
    height: 29vh;
    position: absolute;
    top: 0px;
    overflow: hidden;
    left: 0px;
}

.forgot-logo{
    position: relative;
    top: 5px;
    width: 350px;
    height: 180px;
    left: -750px;
}

.forgot-sta{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    top: -130px;
    color: #000000;
    left: -330px;
}

.forgot-monica{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    top: -130px;
    color: #000000;
    left: -330px;

    
}

.forgot-box{
    width: 370px;
    height: 220px;
    position: relative;
    top: 200px;
    left: 0px;
    margin: 50px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid rgb(65, 65, 63);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);

}

.forgot{
    position: relative;
    top: -25px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(#1feec1 19%, #109b94 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}


.forgot-form .forgot-input-group{
    display: flex;
    flex-direction: column;
    width: 280px;
    position: relative;
    top: -20px;
    left: 5px;
}

.forgot-form .forgot-input-group input{
    margin-top: 10px;
    padding: 10px;
    background: transparent;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 6px;

}

.forgot-form .forgot-input-group .btn{
    position: relative;
    margin-top: 15px;
    top: 18px;
    left: 80px;
    font-size: 18px;
    width: 45%;
    height: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 6px;
    background-color: #1eb99a;
    color: white;
    cursor: pointer;

}


.forgot-btn{
    position: relative;
    top: 5px;
    left: 80px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #1eb99a;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 6px;
    padding: 8px 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    
}

.forgot-btn:hover{
    background-color: #1a7e6a;
}
